{% extends 'blog/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block main_section %}
   <div class="form-section">
       <h2>update password</h2>
       <form method="POST">
           {% csrf_token  %}
           {{ form|crisy}}
           <button type="submit" class="btn btn-danger">install password</button>
       </form>
   </div>
{% endblock main_section %}
{% block aside_news_section %}
    <h3><b>10 films and series for programmers</b></h3>
    <img src="https://itproger.com/img/news/1_robot.jpg" class="img-thumbnail mb-1">
    <p>Although the film is already very old, it is interesting at the same time,
        as it tells the story of several hackers who decided to create their own OS,
        which was later called GNU / Linux
    </p>
    <a href="https://itproger.com/img/news/1_robot.jpg " target="_blank">
        <button class="btn btn-warning">look</button>
    </a>
{% endblock aside_news_section%}